/* CSS for general elements */
* {
    margin: 0px;
    padding: 0px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #00111c;
    border-bottom: 1px solid #f1f0cc;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

nav ul {
    display: inline-block;
}

nav ul li {
    padding-top: 10px;
}

body {
    background-color: #f5f5f5;
    color: #00406c;
    font: 200 14px "Nunito", sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

h3 {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 300;
}

p {
    text-align: justify;
}

section {
    padding: 10px 100px 0px 100px;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:any-link {
    color: #f5f5f5;
}

a:-webkit-any-link {
    color: #f5f5f5;
}

a:-moz-any-link {
    color: #f5f5f5;
}

a:hover {
    color: #8d775f;
}

/* for classes and IDs*/
.moreinfo button {
    background-color: #f5f5f5;
    font-weight: 600;
    padding: 5px 15px;
    float: right;
    border: none;
    color: #00111c;
    border-radius: 20px;
}

.moreinfo button:hover {
    background-color: #002945;
    color: #f5f5f5;
    cursor: pointer;
}

.card .line {
    margin: 0px 5px 5px 0;
    border: 1px solid #f5f5f5;
}

.card .moreinfo button {
    float: right;
}

.navbar i {
    color: #f5f5f5;
    margin-right: 20px;
    font-size: 20px;
}

.navbar i:hover {
    color: #f5f5f5;
    cursor: pointer;
}

/* home */
#home {
    padding-top: 90px;
    background-image: url(/img/caracas_avila_bona_lee.jpg);
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #f5f5f5;
}

#home h2 {
    color: #f5f5f5;
    font-size: 50px;
}

#home h3 {
    font-weight: 400;
}

/* About */
#about {
    background-color: #00253e;
    height: 300px;
    text-align: center;
    align-content: center;
}

#about h2 {
    color: #f5f5f5;
    padding-bottom: 10px;
}

#about h3 {
    color: #f5f5f5;
}

/* Card - Places*/
.places-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 15px 0px;
}

.card {
    width: 250px;
    background-color: #001a2c;
    border-radius: 20px;
    color: #f5f5f5;
    margin-top: 5px;
}

.card img {
    width: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h3 {
    color: #f5f5f5;
    font-weight: 700;
}

.card h4 {
    margin: 0px 5px 5px 0px;
    font-weight: 500;
    color: #f5f5f5;
}

.card .moreinfo {
    margin: 15px 0px 15px 0px;
    height: 26px;
}

.card h3,
.card h4,
.card p,
.card .moreinfo {
    padding: 0px 15px;
}

.card p {
    font-weight: 400;
}

/* videoblog */
#videoblog {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #8d775f;
}

#videoblog h2 {
    margin-top: 10px;
}

#videoblog iframe {
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 40rem;
    height: 20rem;
}

/* Messages */
#messages {
    background-color: #00253e;
    width: 100%;
    color: #f5f5f5;
    padding: 0;
}

#messages h2 {
    padding: 10px 20px 0px 20px;
}

#messages h3 {
    font-weight: 400;
    color: #f5f5f5;
    padding: 0px 0px 0px 20px;
}

.item-form {
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
}

.item-form label {
    font-weight: 700;
    font-size: 18px;
}

.item-form input,
.item-form textarea {
    border-radius: 10px;
    border: 1px solid #3f0d12;
    margin-bottom: 10px;
    height: 30px;
}

input[type="submit"] {
    background-color: #3f0d12;
    padding: 10px;
    color: #f5f5f5;
    font-weight: 600;
    border: none;
    grid-column: 2/3;
    justify-self: end;
}

input[type="submit"]:hover {
    background-color: #8d775f;
    cursor: pointer;
}

/* Footer */
#footer {
    background-color: #00111c;
    text-align: center;
}

#footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer ul {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin: 0 auto;
    font-weight: 700;
}
